body{
    background-color: rgb(24, 24, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin: 0px;
}
.fökep{
    width: 100%;
    height: 800px;
    background-color: aliceblue;
    background-image: url(https://androgeek.hu/pictures/auto/itt-a-vadonatuj-1800-loeros-bugatti-tourbillon-hibrid_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px;
}
h1{
    text-shadow: 2px;
    text-align: center;
}
header{
    background-color: transparent;
    
}